<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Burger Week</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <a href="/"><h1>Burger Week</h1></a>
  </header>
